# Core UI
streamlit>=1.38.0

# Data handling
pandas>=2.2.2
numpy>=1.26.4
openpyxl

# Visualization
matplotlib>=3.8.0
plotly>=5.22.0
scikit-learn>=1.4.2

# Google integration
gspread
google-auth

# Database + APIs
supabase>=2.5.0
openai>=1.36.0

# SkillCorner modules
skillcorner
skillcornerviz==1.1.1
